Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/000_certificate_server.conf:
    mode: "000644" 
    owner: root
    group: root
    content: |
     server {
        listen       8080;
        server_name  synth.land;
        location / {
          root /var/www/html;
        }
      }
  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      service nginx stop 
      service nginx start

packages: 
  yum:
    epel-release: []

container_commands:
  00_create_dir:
    command: "mkdir -p /opt/certbot"
  10_installcertbotandchmod:
    command: "wget https://dl.eff.org/certbot-auto -O /opt/certbot/certbot-auto;chmod a+x /opt/certbot/certbot-auto"
  11_stopcurrentnginx:
    command: "sudo service nginx stop"
  12_removecurrentconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf"
  13_removemore:
    command: "rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"
  14_startmore:
    command: "sudo service nginx start"
  20_getcert:
    command: "sudo /opt/certbot/certbot-auto certonly --webroot -w /var/www/html --debug --non-interactive --email ${EMAIL} --agree-tos --domains ${DOMAIN} \
    --expand --renew-with-new-domains"
  30_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${DOMAIN} /etc/letsencrypt/live/ebcert"
  40_config:
    command: "mv /etc/nginx/conf.d/https_custom.pre /etc/nginx/conf.d/https_custom.conf"
  50_restartnginx:
    command: "sudo service nginx restart"
  60_cronjobsetrenewal:
    command: '(crontab -l ; echo ''0 6 * * * root /opt/certbot/certbot-auto renew --webroot -w /var/www/html --post-hook "service nginx start" --force-renew'') | crontab -'